@import 'commons';
.about {
  @extend %card;

  margin-top: 1em;

  &__title {
    @extend %card__title;
  }

  &__content {
    @extend %card__body;
    display: flex;
    @media screen and (max-width: 700px) {
      display: block;
    }
    justify-content: space-between;
    .main {
      @media screen and (max-width: 700px) {
        padding-bottom : 2em;
      }
    }
  }

  &__footer {
    @extend %card__footer;
    a {
      display: inline-block;
      margin: 0 .25em;
      color: $main-background;

      &:hover {
        color: lighten($main-background, 20%);
      }
    }
  }
}
