@import 'commons';
.about {
  @extend %card;

  margin-top: 1em;

  &__title {
    @extend %card__title;
  }

  &__content {
    @extend %card__body;
  }

  &__footer {
    @extend %card__footer;
    a {
      display: inline-block;
      margin: 0 .25em;
      color: $main-background;

      &:hover {
        color: lighten($main-background, 20%);
      }
    }
  }
}
