%card {
  background-color: $title-color;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.83);
  color: $main-background;
  position: relative;
  width: 100%;
  padding: .5em;
  margin-bottom: 2em;

  &__title {
    clear: right;
    margin-bottom: .5em;
    display: inline-block;
    padding: .25em;
    border-bottom: 1px solid $main-background;
  }

  &__body {
    padding: .25em;
    margin-bottom: 1em;
  }
  
  &__footer {
    padding-top: .85em;
    border-top: 1px solid darken($title-color, 15%);
  }
}
