@import 'commons';

.projects__list {
  @extend %list;
  position: relative;

  &__title {
    @extend %list__title;
  }

  &__filter-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: $detail-color;
    border: none;
    border-radius: 3px;
    color: inherit;
    font-size: inherit;
    outline: none;
    padding: .25em;
    padding-right: 2em;
    position: absolute;
    right: 0;
    top: 2em;
    &:hover {
      background-color: $detail-hover-color;
    }
  }
  
  &__item {
    @extend %card;
    &__title {
      @extend %card__title;
    }

    &__content {
      @extend %card__body;
      .short-desc {
        flex-wrap: 100%;
        display: block;
        width: 100%;
      }
    }

    &__btnMore {
      @extend %btn;
    }

    &__footer {
      @extend %card__footer;
    }
  }
}
