@import 'commons';

.projects__list {
  @extend %list;

  &__title {
    @extend %list__title;
  }
  
  &__item {
    @extend %card;
    &__title {
      @extend %card__title;
    }

    &__content {
      @extend %card__body;
      .short-desc {
        flex-wrap: 100%;
        display: block;
        width: 100%;
      }
    }

    &__btnMore {
      @extend %btn;
    }

    &__footer {
      @extend %card__footer;
    }
  }
}
