@import 'commons';

.app__nav__link {
  color: $title-color;
  display: inline-block;
  padding: .5em;

  &--selected {
    background-color: lighten($main-background, 10%);
  }

  &:hover {
    background-color: lighten($main-background, 20%);
  }
}

